apiVersion: v1
kind: Service
metadata:
  name: api
  namespace: markitdown
spec:
  selector:
    app: api
  ports:
    - port: 8000
      targetPort: 8000
      protocol: TCP
  type: ClusterIP