apiVersion: apps/v1
kind: Deployment
metadata:
  name: worker
  namespace: markitdown
spec:
  replicas: 3
  selector:
    matchLabels:
      app: worker
  template:
    metadata:
      labels:
        app: worker
    spec:
      containers:
        - name: worker
          image: kube-training-worker:latest
          imagePullPolicy: Never
          envFrom:
            - configMapRef:
                name: app-config
          volumeMounts:
            - mountPath: /data
              name: shared-data
      volumes:
        - name: shared-data
          persistentVolumeClaim:
            claimName: markitdown-pvc
